tabulate
pyodbc
python-dateutil
requests
huaweicloudsdkcore==3.1.119
huaweicloudsdkdns==3.1.119
cloudflare==3.1.0
alibabacloud_tea_openapi==0.3.12
alibabacloud_swas_open20200601==3.0.1
pydantic==2.9.2
httpx==0.27.2